<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${article.title}">Article</title>
</head>
<body>

<h1 th:text="${article.title}">Title</h1>

<div>
    <small>
        <span th:text="${article.publishTime}">publishTime</span>
        <span> · </span>
        <span th:text="${article.author != null ? article.author.nickname : ''}">author</span>
    </small>
</div>

<hr/>

<div th:utext="${article.contentHtml}">
    <!-- content html -->
</div>

</body>
</html>
